
<div class="top-row ps-3 navbar mobile-only w-100">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler no-border" style="border: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 16 16">
                <path d="M1 2h14v2H1V2zm0 5h14v2H1V7zm0 5h14v2H1v-2z" />
            </svg>
        </button>
        <a class="navbar-brand" href="" style="color: black;">Module.name</a>
    </div>
</div>

<div class="top-row ps-3 navbar desktop-only @(!CollapseNavMenu ? "transparent-bg" : "")">
   
    @if (!CollapseNavMenu)
    {
        <div class="container-fluid">
            <img src="https://s3-alpha-sig.figma.com/img/b70d/81f1/68d9b7ca9df37ac768a312be6408d154?Expires=1746403200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FEUpErX-P2fv4OFzdXRjfGFJAAFC89PngeTOMDXysjU7tD9riv2bx6av9HaI21Nbz2bWFTrtC~go8LKKFmk35T8eg6DVGrsidJdsyRtwMOaXUbjuuo92cP0qkmFA~HGtDKfrmELSvRZCHFfg6zFZ6Sys5UyLLkXIdQurxW9IRxwveb~tfnLOxUbD9jI1NdXf8qqlBJjtOTf0GRvwxlXD4n~NeHHDIUhtxfbTtRYBxJgyaTrD1C-2z8FhK9EdXgOBZ9JMd3IQvcBVKeG2qE3WtlE~x6-GvdLZJZ19Zayk8sZjhWFVHiEP37Co~6lnYWzQokzeyoW21SqfkPACDpseOw__"
                 alt="Module Logo" style="margin-right: 0.5rem; height: 20px; width: auto;">
            <a class="navbar-brand" href="" style="color: black;">Module.name</a>
        </div>
    }
</div>

<div class="nav-body desktop-only @(CollapseNavMenu ? "collapsed" : "")">
    <button title="Navigation menu" class="navbar-toggler no-border" @onclick="() => CollapseNavMenuChanged.InvokeAsync(!CollapseNavMenu)" style="border: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 16 16">
            <path d="M1 2h14v2H1V2zm0 5h14v2H1V7zm0 5h14v2H1v-2z" />
        </svg>
    </button>
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="index" Match="NavLinkMatch.All">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="counter">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="fetchdata">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="" Match="NavLinkMatch.All">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="counter">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="fetchdata">
                <svg fill="#1A1A1AB2" width="20px" height="20px" viewBox="0 0 0.6 0.6" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m0.537 0.255 -0.025 -0.014 -0.225 -0.125h-0.003a0.025 0.025 0 0 0 -0.005 -0.002h-0.009a0.025 0.025 0 0 0 -0.005 0.002h-0.003l-0.225 0.125a0.025 0.025 0 0 0 0 0.044L0.1 0.319v0.119a0.075 0.075 0 0 0 0.075 0.075h0.2a0.075 0.075 0 0 0 0.075 -0.075v-0.119l0.05 -0.028v0.071a0.025 0.025 0 0 0 0.05 0v-0.086a0.025 0.025 0 0 0 -0.013 -0.022M0.4 0.438a0.025 0.025 0 0 1 -0.025 0.025H0.175a0.025 0.025 0 0 1 -0.025 -0.025v-0.091l0.113 0.063 0.004 0.002h0.002a0.025 0.025 0 0 0 0.006 0 0.025 0.025 0 0 0 0.006 0h0.002a0.013 0.013 0 0 0 0.004 -0.002l0.113 -0.063Zm-0.125 -0.079L0.101 0.263 0.275 0.166l0.174 0.097Z" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="jobspage">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link nav-link-text" href="jobspage">
                <svg width="20px" height="20px" viewBox="0 0 0.5 0.5" fill="#1A1A1AB2" xmlns="http://www.w3.org/2000/svg"><path d="M0.05 0.463a0.025 0.025 0 1 1 0 -0.05h0.4a0.025 0.025 0 1 1 0 0.05z" fill="#1A1A1AB2" /><path d="M0.163 0.425a0.025 0.025 0 1 1 -0.05 0V0.108C0.113 0.063 0.145 0.025 0.188 0.025h0.125c0.042 0 0.075 0.038 0.075 0.083V0.425a0.025 0.025 0 1 1 -0.05 0V0.108c0 -0.019 -0.012 -0.033 -0.025 -0.033h-0.125c-0.013 0 -0.025 0.014 -0.025 0.033z" fill="#1A1A1AB2" /><path d="M0.2 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.15H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.1" fill="#1A1A1AB2" /><path d="M0.275 0.1h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.1" fill="#000000" /><path d="M0.275 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.275 0.175" fill="#000000" /><path d="M0.275 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.275 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013h-0.025a0.013 0.013 0 0 1 -0.013 -0.013v-0.025a0.013 0.013 0 0 1 0.013 -0.013" fill="#000000" /><path d="M0.2 0.175h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025A0.013 0.013 0 0 1 0.225 0.225H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.175" fill="#000000" /><path d="M0.2 0.325h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.325" fill="#000000" /><path d="M0.2 0.25h0.025a0.013 0.013 0 0 1 0.013 0.013v0.025a0.013 0.013 0 0 1 -0.013 0.013H0.2a0.013 0.013 0 0 1 -0.013 -0.013v-0.025A0.013 0.013 0 0 1 0.2 0.25" fill="#000000" /></svg>
                @if (!CollapseNavMenu)
                {
                    <span>Menu.Item.Name</span>
                }
            </NavLink>
        </div>
       
    </nav>
</div>
@if (!CollapseNavMenu)
    {
    <div style="border-top: 1px solid #ccc;" class="desktop-only">
        <div class="nav-item px-1 m-1" style="padding-top:0.1rem !important">
            <input type="number" step="0.01" min="0" class="form-control " id="spinner" placeholder="Sales">
        </div>
    </div>
    }
@code {
    [Parameter] public bool CollapseNavMenu { get; set; }
    [Parameter] public EventCallback<bool> CollapseNavMenuChanged { get; set; }
}
<style>
    .layout {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        transition: width 0.3s ease;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
    }

        .sidebar.collapsed {
            width: 60px;
        }

    .top-row.navbar {
        background-color: white;
        border-bottom: 1px solid #dcdcdc;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        flex-shrink: 0;
    }

    .nav-body {
        flex-grow: 1;
        overflow-y: auto;
        padding-top: 1rem;
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: #333;
        text-decoration: none;
        transition: background 0.2s;
    }

        .nav-link:hover {
            background-color: #e9ecef;
        }

        .nav-link i {
            margin-right: 8px;
            min-width: 20px;
            text-align: center;
        }

    .nav-link-text span {
        transition: opacity 0.2s ease;
        white-space: nowrap;
    }

    .sidebar.collapsed .nav-link-text span {
        display: none;
    }

    .sidebar.collapsed input,
    .sidebar.collapsed .hide-when-collapsed {
        display: none;
    }

    .sidebar.collapsed .nav-link {
        justify-content: center;
    }

        .sidebar.collapsed .nav-link i {
            margin-right: 0;
        }

    .main {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }

    .no-border:focus,
    .no-border {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none !important;
    }

    @@media (max-width: 767.98px) {
        .desktop-only

    {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }

    }
</style>