<div class="navbar navbar-expand-lg navbar-light jobs-bg light-gray-border-bottom d-none d-md-flex">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="position-relative d-flex align-items-center me-1">
                <div style="position: absolute; top: -0.5rem; bottom: -0.5rem; right: 0; width: 1px; background-color: #D3D3D3;"></div>

                <a class="navbar-brand " href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
            <div class="position-relative d-flex align-items-center me-1">
                <div style="position: absolute; top: -0.5rem; bottom: -0.5rem; right: 0; width: 1px; background-color: #D3D3D3;"></div>
                <a class="navbar-brand" href="#">
                    <svg width="15px" height="15px" viewBox="0 0 0.469 0.469" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.141 0.453v-0.094a0.031 0.031 0 0 1 0.031 -0.031h0.125a0.031 0.031 0 0 1 0.031 0.031v0.094m0.094 0h-0.375a0.031 0.031 0 0 1 -0.031 -0.031v-0.375a0.031 0.031 0 0 1 0.031 -0.031h0.268a0.031 0.031 0 0 1 0.022 0.009l0.107 0.107a0.031 0.031 0 0 1 0.009 0.022V0.422a0.031 0.031 0 0 1 -0.031 0.031Z" stroke="#58545c" stroke-width="0.03125" /></svg>
                    <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">Save</span>
                </a>
                <a class="navbar-brand" href="#">
                    <svg fill="#000000" width="20px" height="20px" viewBox="0 0 0.6 0.6" id="plus" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M0.3 0.5a0.025 0.025 0 0 1 -0.025 -0.025v-0.15H0.125a0.025 0.025 0 0 1 0 -0.05h0.15V0.125a0.025 0.025 0 0 1 0.05 0v0.15h0.15a0.025 0.025 0 0 1 0 0.05h-0.15v0.15a0.025 0.025 0 0 1 -0.025 0.025" style="fill: rgb(0, 0, 0);" /></svg>
                    <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">New</span>

                </a>
                <a class="navbar-brand" href="#">
                    <svg width="20px" height="20px" viewBox="0 0 0.6 0.6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Trash</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Trash"><path id="Rectangle" fill-rule="nonzero" x="0" y="0" width="24" height="24" d="M0 0H0.6V0.6H0V0z" /><path d="m0.15 0.15 0.024 0.338a0.013 0.013 0 0 0 0.012 0.012h0.227a0.013 0.013 0 0 0 0.013 -0.012L0.45 0.15" id="Path" stroke="#58545c" stroke-width="0.05" stroke-linecap="round" /><path x1="4" y1="6" x2="20" y2="6" id="Path" stroke="#58545c" stroke-width="0.05" stroke-linecap="round" d="M0.1 0.15L0.5 0.15" /><path x1="10" y1="10" x2="10" y2="16" id="Path" stroke="#58545c" stroke-width="0.05" stroke-linecap="round" d="M0.25 0.25L0.25 0.4" /><path x1="14" y1="10" x2="14" y2="16" id="Path" stroke="#58545c" stroke-width="0.05" stroke-linecap="round" d="M0.35 0.25L0.35 0.4" /><path d="M0.375 0.15a0.075 0.075 0 1 0 -0.15 0" id="Path" stroke="#58545c" stroke-width="0.05" stroke-linecap="round" /></g></g></svg>
                    <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">Delete</span>
                </a>
                <a class="navbar-brand" href="#">
                    <svg width="18px" height="18px" viewBox="0 0 1.2 1.2" fill="none" xmlns="http://www.w3.org/2000/svg"><path width="48" height="48" fill="white" fill-opacity="0.01" d="M0 0H1.2V1.2H0V0z" /><path d="M0.363 0.2a0.475 0.475 0 0 0 -0.119 0.096C0.17 0.379 0.125 0.487 0.125 0.606 0.125 0.865 0.338 1.075 0.6 1.075s0.475 -0.21 0.475 -0.469c0 -0.119 -0.045 -0.228 -0.119 -0.31A0.475 0.475 0 0 0 0.838 0.2" stroke="#58545c" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round" /><path d="M0.6 0.1v0.5" stroke="#58545c" stroke-width="0.1" stroke-linecap="round" stroke-linejoin="round" /></svg>
                    <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">Deactivate</span>
                </a>
            </div>
            <div class="d-flex ms-auto position-relative">
                <div style="position: absolute; top: -0.5rem; bottom: -0.5rem; left: 0; width: 1px; background-color: #D3D3D3;"></div>
                <div class="d-flex ps-3 align-items-center">
                    <a class="navbar-brand me-3" href="#">
                        <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;font-weight:400;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">Export</span>
                        <svg width="20px" height="20px" viewBox="0 0 0.75 0.75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>file_export_line</title><g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="File" transform="translate(-192 -96)"><g id="file_export_line" transform="translate(192 96)"><path d="M0.75 0v0.75H0V0zM0.394 0.727l0 0 -0.002 0.001 -0.001 0 0 0 -0.002 -0.001q-0.001 0 -0.001 0l0 0 -0.001 0.013 0 0.001 0 0 0.003 0.002 0 0 0 0 0.003 -0.002 0 -0.001 0 -0.001 -0.001 -0.013q0 -0.001 -0.001 -0.001m0.008 -0.004 0 0 -0.006 0.003 0 0 0 0 0.001 0.013 0 0 0 0 0.006 0.003q0.001 0 0.001 0l0 0 -0.001 -0.019q0 -0.001 -0.001 -0.001m-0.022 0a0.001 0.001 0 0 0 -0.001 0l0 0 -0.001 0.019q0 0.001 0.001 0.001l0 0 0.006 -0.003 0 0 0 0 0.001 -0.013 0 0 0 0z" id="MingCute" fill-rule="nonzero" /><path d="M0.425 0.063a0.063 0.063 0 0 1 0.04 0.015l0.004 0.004L0.607 0.219a0.063 0.063 0 0 1 0.018 0.039l0 0.005V0.375h-0.063v-0.063h-0.141a0.047 0.047 0 0 1 -0.047 -0.042L0.375 0.266V0.125H0.188v0.5h0.188v0.063H0.188a0.063 0.063 0 0 1 -0.062 -0.058L0.125 0.625V0.125a0.063 0.063 0 0 1 0.058 -0.062L0.188 0.063zm0.16 0.39 0.088 0.088a0.031 0.031 0 0 1 0 0.044l-0.088 0.088a0.031 0.031 0 1 1 -0.044 -0.044L0.575 0.594H0.438a0.031 0.031 0 1 1 0 -0.063h0.138l-0.035 -0.035a0.031 0.031 0 0 1 0.044 -0.044M0.438 0.138V0.25h0.112z" id="形状" fill="#09244B" /></g></g></g></svg>
                    </a>
                    <a class="navbar-brand" href="#">
                        <span style="margin-left: 0.4em; color: #1A1A1AB2; cursor: pointer;font-weight:400;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='#1A1A1AB2';">Import</span>
                        <svg width="20px" height="20px" viewBox="0 0 0.75 0.75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>file_import_line</title><g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="File" transform="translate(-240 -96)"><g id="file_import_line" transform="translate(240 96)"><path d="M0.75 0v0.75H0V0zM0.394 0.727l0 0 -0.002 0.001 -0.001 0 0 0 -0.002 -0.001q-0.001 0 -0.001 0l0 0 -0.001 0.013 0 0.001 0 0 0.003 0.002 0 0 0 0 0.003 -0.002 0 -0.001 0 -0.001 -0.001 -0.013q0 -0.001 -0.001 -0.001m0.008 -0.004 0 0 -0.006 0.003 0 0 0 0 0.001 0.013 0 0 0 0 0.006 0.003q0.001 0 0.001 0l0 0 -0.001 -0.019q0 -0.001 -0.001 -0.001m-0.022 0a0.001 0.001 0 0 0 -0.001 0l0 0 -0.001 0.019q0 0.001 0.001 0.001l0 0 0.006 -0.003 0 0 0 0 0.001 -0.013 0 0 0 0z" id="MingCute" fill-rule="nonzero" /><path d="M0.425 0.063a0.063 0.063 0 0 1 0.04 0.015l0.004 0.004L0.607 0.219a0.063 0.063 0 0 1 0.018 0.039l0 0.005V0.625a0.063 0.063 0 0 1 -0.058 0.062L0.563 0.688h-0.188v-0.063h0.188V0.313h-0.141a0.047 0.047 0 0 1 -0.047 -0.042L0.375 0.266V0.125H0.188v0.25H0.125V0.125a0.063 0.063 0 0 1 0.058 -0.062L0.188 0.063zM0.241 0.452l0.088 0.088a0.031 0.031 0 0 1 0 0.044l-0.088 0.088a0.031 0.031 0 1 1 -0.044 -0.044L0.232 0.594H0.094a0.031 0.031 0 1 1 0 -0.063h0.138l-0.035 -0.035a0.031 0.031 0 1 1 0.044 -0.044M0.438 0.138V0.25h0.112z" id="形状" fill="#09244B" /></g></g></g></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-expand-lg navbar-light jobs-bg light-gray-border-bottom d-flex d-md-none align-items-center px-1 w-100">
    <!-- Arrow and Save grouped together -->
    <div class="d-flex align-items-center">
        <!-- Arrow icon -->
        <a class="me-2" href="#">
            <i class="bi bi-arrow-left" style="font-size: 1.2rem;"></i>
        </a>

        <!-- Divider between Arrow and Save -->
        <div style="width: 1px; height: 24px; background-color: #D3D3D3;" class="me-2"></div>

        <!-- Save icon and text -->
        <a class="d-flex align-items-center text-decoration-none" href="#">
            <svg width="15px" height="15px" viewBox="0 0 0.469 0.469" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.141 0.453v-0.094a0.031 0.031 0 0 1 0.031 -0.031h0.125a0.031 0.031 0 0 1 0.031 0.031v0.094m0.094 0h-0.375a0.031 0.031 0 0 1 -0.031 -0.031v-0.375a0.031 0.031 0 0 1 0.031 -0.031h0.268a0.031 0.031 0 0 1 0.022 0.009l0.107 0.107a0.031 0.031 0 0 1 0.009 0.022V0.422a0.031 0.031 0 0 1 -0.031 0.031Z" stroke="#58545c" stroke-width="0.03125" />
            </svg>
            <span class="ms-2" style="color: #1A1A1AB2; cursor: pointer;"
                  onmouseover="this.style.color='#007bff';"
                  onmouseout="this.style.color='#1A1A1AB2';">
                Save
            </span>
        </a>
    </div>

    <!-- Right-side vertical divider and dots -->
    <div class="ms-auto position-relative d-flex align-items-center">
        <div style="position: absolute; top: -0.5rem; bottom: -0.5rem; left: -0.5rem; width: 1px; background-color: #D3D3D3;"></div>
        <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 1.3 1.3">
            <path d="M0.5 1.1c0 -0.083 0.068 -0.15 0.15 -0.15s0.15 0.068 0.15 0.15 -0.068 0.15 -0.15 0.15 -0.15 -0.068 -0.15 -0.15m0 -0.45c0 -0.083 0.068 -0.15 0.15 -0.15s0.15 0.068 0.15 0.15 -0.068 0.15 -0.15 0.15 -0.15 -0.068 -0.15 -0.15m0 -0.45c0 -0.083 0.068 -0.15 0.15 -0.15s0.15 0.068 0.15 0.15 -0.068 0.15 -0.15 0.15 -0.15 -0.068 -0.15 -0.15" />
        </svg>
    </div>
</div>


@code {

}
