<!-- Desktop Version -->
<div class="container-fluid jobs-bg mt-1 p-2 rounded-all d-none d-md-block">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
            <span class="position-absolute search">
                <svg fill="#000000" height="20px" width="20px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 0.8 0.8" xml:space="preserve"><g><path d="M0.275 0.2h0.45c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025" /><path d="M0.275 0.425h0.275c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025" /><path d="M0.725 0.6H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025h0.45c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025" /><path d="M0.125 0.1C0.083 0.1 0.05 0.133 0.05 0.175s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /><path d="M0.125 0.325c-0.043 0 -0.075 0.033 -0.075 0.075s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /><path d="M0.125 0.55c-0.043 0 -0.075 0.033 -0.075 0.075s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /></g></svg>
            </span>
            <select class="form-select rounded-all" aria-label="Default select example">
                <option selected>All Item</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="d-flex align-items-center">
            <div class="input-group w-auto">
                <span class="input-group-text bg-white border-end-0 rounded-all">
                    <svg fill="#58545c" width="20px" height="20px" viewBox="-0.063 -0.063 0.6 0.6" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-search"><path d="M0.2 0.35A0.15 0.15 0 1 0 0.2 0.05a0.15 0.15 0 0 0 0 0.3m0.158 -0.027 0.09 0.09a0.025 0.025 0 1 1 -0.035 0.035l-0.09 -0.09a0.2 0.2 0 1 1 0.035 -0.035z" /></svg>
                </span>
                <input type="text" class="form-control border-start-0 border-end-0 text-center rounded-all" id="exampleFormControlInput1" placeholder="Search the data below" style="width: 210px;" />
                <span class="input-group-text bg-white border-start-0 rounded-all">
                    <svg fill="#58545c" height="20px" width="20px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 0.8 0.8" xml:space="preserve"><path d="M0.4 0.05C0.233 0.05 0.05 0.085 0.05 0.163V0.275c0 0.007 0.003 0.015 0.007 0.017L0.325 0.535V0.725c0 0.007 0.005 0.017 0.013 0.023 0.003 0.003 0.007 0.003 0.013 0.003s0.007 0 0.01 -0.003l0.1 -0.05c0.007 -0.005 0.015 -0.013 0.015 -0.023v-0.14l0.268 -0.242c0.005 -0.005 0.007 -0.013 0.007 -0.017V0.163C0.75 0.085 0.568 0.05 0.4 0.05m0 0.05c0.2 0 0.298 0.045 0.3 0.063 -0.003 0.017 -0.1 0.063 -0.3 0.063S0.102 0.18 0.1 0.163C0.102 0.145 0.2 0.1 0.4 0.1" /></svg>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- Mobile Version -->
<div class="container-fluid jobs-bg mt-1 p-2 rounded-all d-block d-md-none">
    <div class="mb-2 d-flex justify-content-between align-items-center flex-column flex-md-row">
        <div class="position-relative mb-2 mb-md-0 w-100 w-md-auto">
            <span class="position-absolute search">
                <svg fill="#000000" height="20px" width="20px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 0.8 0.8" xml:space="preserve"><g><path d="M0.275 0.2h0.45c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025" /><path d="M0.275 0.425h0.275c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025" /><path d="M0.725 0.6H0.275c-0.015 0 -0.025 0.01 -0.025 0.025s0.01 0.025 0.025 0.025h0.45c0.015 0 0.025 -0.01 0.025 -0.025s-0.01 -0.025 -0.025 -0.025" /><path d="M0.125 0.1C0.083 0.1 0.05 0.133 0.05 0.175s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /><path d="M0.125 0.325c-0.043 0 -0.075 0.033 -0.075 0.075s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /><path d="M0.125 0.55c-0.043 0 -0.075 0.033 -0.075 0.075s0.033 0.075 0.075 0.075 0.075 -0.033 0.075 -0.075 -0.033 -0.075 -0.075 -0.075" /></g></svg>
            </span>
            <select class="form-select rounded-all w-100" aria-label="Default select example">
                <option selected>All Item</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="d-flex align-items-center flex-grow-1 flex-md-grow-0">
            <div class="input-group w-auto flex-grow-1">
                <span class="input-group-text bg-white border-end-0 rounded-all">
                    <svg fill="#58545c" width="20px" height="20px" viewBox="-0.063 -0.063 0.6 0.6" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-search"><path d="M0.2 0.35A0.15 0.15 0 1 0 0.2 0.05a0.15 0.15 0 0 0 0 0.3m0.158 -0.027 0.09 0.09a0.025 0.025 0 1 1 -0.035 0.035l-0.09 -0.09a0.2 0.2 0 1 1 0.035 -0.035z" /></svg>
                </span>
                <input type="text" class="form-control border-start-0 border-end-0 text-center rounded-all" id="exampleFormControlInput1" placeholder="Search the data below" style="min-width: 150px;" />
                <span class="input-group-text bg-white border-start-0 rounded-all">
                    <svg fill="#58545c" height="20px" width="20px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 0.8 0.8" xml:space="preserve"><path d="M0.4 0.05C0.233 0.05 0.05 0.085 0.05 0.163V0.275c0 0.007 0.003 0.015 0.007 0.017L0.325 0.535V0.725c0 0.007 0.005 0.017 0.013 0.023 0.003 0.003 0.007 0.003 0.013 0.003s0.007 0 0.01 -0.003l0.1 -0.05c0.007 -0.005 0.015 -0.013 0.015 -0.023v-0.14l0.268 -0.242c0.005 -0.005 0.007 -0.013 0.007 -0.017V0.163C0.75 0.085 0.568 0.05 0.4 0.05m0 0.05c0.2 0 0.298 0.045 0.3 0.063 -0.003 0.017 -0.1 0.063 -0.3 0.063S0.102 0.18 0.1 0.163C0.102 0.145 0.2 0.1 0.4 0.1" /></svg>
                </span>
            </div>
        </div>
    </div>
</div>
@code {

}